p
 a(href='/about')
  img(src='images/gwenbell.jpeg', style='border: 1px solid #ccc; padding: 4px; width: 100%')

<p align="center"><script data-gittip-username="gwenbell" src="https://www.gittip.com/assets/widgets/0002.js"></script></p>
